.page {
    &_inner {
        @include adaptiveValue("padding-top", 30, 20);
        @include adaptiveValue("padding-bottom", 120, 50);
    }
    &__header {
        margin-bottom: rem(30);
    }
}

.catalog {

    // .catalog__container

    &__container {
    }

    // .catalog__body

    &__body {
        display: grid;
        gap: rem(30);
        align-items: start;
        @media(min-width: $tablet) {
            grid-template-columns: rem(375) 1fr;
        }
    }

    // .catalog__filter

    &__filter {
    }

    // .catalog__content

    &__content {
    }

    // .catalog__products

    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
        gap: rem(30);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    // .catalog__control

    &__control {
       display: flex;
       justify-content: flex-end;
       &:not(:last-child) {
           margin-bottom: rem(20);
       }
    }
    // .catalog__title

    &__title {
        font-size: rem(24);
        line-height: math.div(29, 24);
        font-weight: 700;
        color: #141414;
        &:not(:last-child) {
            margin-bottom: em(25, 24);
        }
    }

    // .catalog__footer

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(20);

        @media(max-width: $mobile) {
            flex-direction: column;
        }
    }

    // .catalog__more

    &__more {
    }

    // .catalog__pagging

    &__pagging {
    }
}

.pagging {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include adaptiveValue("gap", 30, 15);

    // .pagging__arrow

    &__arrow {
        
        // .pagging__arrow_left

        &_left {
            color: #E8AA31;
            &::before {
                font-size: rem(10);
            }
            transform: rotate(90deg);
            &:disabled {
                color: rgba(0, 0, 0, 0.12);
            }
        }

        // .pagging__arrow_right

        &_right {
            color: #E8AA31;
            &::before {
                font-size: rem(10);
            }
            transform: rotate(-90deg);
            &:disabled {
                color: rgba(0, 0, 0, 0.12);
            }
        }
    }

    // .pagging__list

    &__list {
        display: flex;
        align-items: center;
        gap: rem(13);
    }

    // .pagging__item

    &__item {
    }

    // .pagging__link

    &__link {
        width: rem(34);
        height: rem(34);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &._active {
            background-color: #E8AA31;
            color: white;
        }
    }
}

.filter-catalog {
    background: #FEFEFE;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    // .filter-catalog__title

    &__title {
        background-color: #141414;
        font-size: rem(20);
        font-weight: 700;
        line-height: math.div(24, 20);
        padding: rem(20) rem(30);
        color: white;
    }

    // .filter-catalog__items

    &__items {
    }

    // .filter-catalog__price

    &__price {
    }

    // .filter-catalog__item

    &__item {
        
    }
}
.price-filter {
    padding: rem(30);

    // .price-filter__title

    &__title {
        font-size: rem(20);
        font-weight: 600;
        line-height: math.div(24, 20);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        transition: all 0.3s ease;
        &::before {
            font-size: rem(8);
            color: #E8AA31;
            transform: rotate(180deg);
            transition: all 0.3s ease;
        }
        &._active  {
            &::before {
                transform: rotate(0deg);
                
            }
        }
    }

    // .price-filter__body

    &__body {
        padding: rem(30) 0 0 0;
        &._hidden {
            display: none;
        }
    }

    // .price-filter__inputs

    &__inputs {
        display: flex;
        border: 1px solid #CBCBCB;
        border-radius: rem(2);
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(60);
        }
    }

    // .price-filter__input

    &__input {
        text-align: center;
        width: 50%;
        padding: rem(11) rem(35);
        &:not(:last-child) {
            border-right: 1px solid #CBCBCB;
        }
    }

    // .price-filter__range

    &__range {
    }
}

.item-filter-catalog {

    // .item-filter-catalog__title

    &__title {
        width: 100%;
        background-color: #141414;
        font-size: rem(20);
        font-weight: 600;
        line-height: math.div(24, 20);
        padding: rem(13) rem(30);
        color: white;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        &::before {
            transform: rotate(180deg);
            color: #E8AA31;
            font-size: rem(8);
            transition: all 0.3s ease;
        }
        &._active  {
            &::before {
                transform: rotate(0deg);
                
            }
        }
    }

    // .item-filter-catalog__body

    &__body {
        padding: rem(30);
        &._hidden {
            display: none;
        }
    }
}


.breadcrumbs {
    white-space: nowrap;
    overflow: auto;
    height: rem(22);
    
    // .breadcrumbs__list

    &__list {
        display: flex;
    }

    // .breadcrumbs__item

    &__item {
        font-size: rem(16);
        line-height: math.div(20, 16);
    }

    // .breadcrumbs__link

    &__link {
        color: #141414;
        opacity: 0.5;
        display: flex;
        align-items: center;
        &::after {
            content: "\e90a";
            @extend %ic;
            transform: rotate(-90deg);
            font-size: rem(6);
            margin: 0 em(15, 6);
        }
    }

    // .breadcrumbs__current

    &__current {
        color: #E8AA31;
    }
}
/*=====================================================================================*/ 
.control {
    width: rem(375);
    height: rem(40);
    background: #E5E5E5;
    font-size: rem(16);
    color: rgba(0, 0, 0, 0.5);
    padding: rem(10) rem(20);
    cursor: pointer;
    border: 1px solid rgba(4, 4, 4, 0.3);
    border-radius: 3px;

    @media(max-width: $mobileSmall) {
        width: 100%;
    }
}
/*=====================================================================================*/ 
.checkbox {
    margin-bottom: rem(22);
    position: relative;
    // .checkbox__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label:after {
			transform: scale(1);
		}
    }

    // .checkbox__label

    &__label {
        font-size: rem(18);
        cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: rem(15);
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(20);
			width: rem(20);
			height: rem(20);
			border: 1px solid #e8aa31;
			border-radius: 2px;
		}
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			position: absolute;
			width: rem(16);
			border-radius: 2px;
			height: rem(16);
			top: 2px;
			left: 2px;
			background-color: #e8aa31;
		}
    }

    // .checkbox__text

    &__text {
        small {
			color: #E8AA31;
		}
    }
}






